html {
  height: 100%;
}
body{
  display: flex;
  font-size: 17px;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  font-family: 'Raleway-Light', sans-serif;
}
main{
  flex: 1;
  overflow: hidden;
  width: 100%;
}
header{
  //background: #3360a3;
  width: 100%;
  color: #ffffff;
  background: #3360a3 url('../../icons/bg.jpg') center  no-repeat;
  background-size: cover;
}
footer{
  height: 90px;
}
section{
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}
h1{
  font-family: 'RobotoSlab-Light', sans-serif;
  font-size: 2rem;
  text-align: center;
}
img{
  max-width: 100%;
}
.title{
  font-family: 'RobotoSlab-Light', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #3360a3;
  margin: 50px auto 40px;
}