@font-face {
  font-family: Raleway-Bold;
  src:url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-Medium;
  src:url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src:url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: RobotoSlab-Bold;
  src:url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: RobotoSlab-Light;
  src:url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoSlab-Regular;
  src:url(../fonts/RobotoSlab-Regular.ttf);
}